#app {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #666;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #ff7300;
    }
  }

  ul {
    list-style-type: none;
  }
}
